addDefaultCharset UTF-8

RewriteEngine On RewriteCond %{HTTP_USER_AGENT} .*Download\ Master.* [OR]
RewriteCond %{HTTP_USER_AGENT} .*Mass\ Downloader.* [OR]
RewriteCond %{HTTP_USER_AGENT} .*FlashGet.* [OR]
RewriteCond %{HTTP_USER_AGENT} .*GetRight.* [OR]
RewriteCond %{HTTP_USER_AGENT} .*Teleport.* [OR]
RewriteCond %{HTTP_USER_AGENT} .*ReGet.*
RewriteRule ^.* - [F,L]

