@font-face {
    font-family: 'SariOT-Black'; 
    src:  url('SariOT-Black.otf');
  }
  
@font-face {
    font-family: 'SariOT-BlackItalic'; 
    src:  url('SariOT-BlackItalic.otf');
  }
  
@font-face {
    font-family: 'SariOT-Bold'; 
    src:  url('SariOT-Bold.otf');
  }
  
@font-face {
    font-family: 'SariOT-BoldItalic'; 
    src:  url('SariOT-BoldItalic.otf');
  }
  
@font-face {
    font-family: 'SariOT-ExtraBold'; 
    src:  url('SariOT-ExtraBold.otf');
  }
  
@font-face {
    font-family: 'SariOT-ExtraBoldItalic'; 
    src:  url('SariOT-ExtraBoldItalic.otf');
  }
  
@font-face {
    font-family: 'SariOT-Light'; 
    src:  url('SariOT-Light.otf');
  }
  
@font-face {
    font-family: 'SariOT-LightItalic'; 
    src:  url('SariOT-LightItalic.otf');
  }
  
@font-face {
    font-family: 'SariOT-Medium'; 
    src:  url('SariOT-Medium.otf');
  }
  
@font-face {
    font-family: 'ariOT-MediumItalic'; 
    src:  url('SariOT-MediumItalic.otf');
  }




  
@font-face {
    font-family: 'SariOT-Regular'; 
    src:  url('SariOT-Regular.otf');
  }
  
@font-face {
    font-family: 'SariOT-RegularItalic'; 
    src:  url('SariOT-RegularItalic.otf');
  }
  
@font-face {
    font-family: 'ufonts.com_sari-boldcaps'; 
    src:  url('ufonts.com_sari-boldcaps.ttf');
  }
  
@font-face {
    font-family: 'ufonts.com_sari-lightcaps'; 
    src:  url('ufonts.com_sari-lightcaps.ttf');
  }
  
@font-face {
    font-family: 'ufonts.com_sari-medium'; 
    src:  url('ufonts.com_sari-medium.ttf');
  }
  
@font-face {
    font-family: 'ufonts.com_sari-regularcaps'; 
    src:  url('ufonts.com_sari-regularcaps.ttf');
  }




















